body,
html {
  position: relative;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  overflow: hidden;
  background-color: gray;
}

#colorPick {
  position: absolute;
  background-color: gray;
  bottom: 10;
  right: 10;
}

i {
  position: absolute;
  background-color: gray;
  top: 5;
  right: 5;
}
