@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html,
body {
    background-image: linear-gradient(180deg, #287EFF 0%, #92C9DA 100%);
    font-family: 'Fjalla One', sans-serif;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.25), -3px -3px 30px 5px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    text-align: center;
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        flex-direction: column;
    }
}

ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style-type: none;
}

@media (min-width: 500px) {
    ul {
        grid-auto-flow: column;
    }
}

a {
    color: #2D3162;
    text-decoration: none;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.75rem;
    height: 5px;
    background-color: #ECAF3E;
    text-align: center;
}

.header {
    text-align: center;
}

#wikiLogo {
    width: 80%;
    height: auto;
    padding-top: 1rem;
}

.container {
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    display: block;
    position: relative;
    padding-top: 5.5rem;
    max-width: 300px;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
}

.title {
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;

    span {
        transform: skew(-10deg);
        display: block;
        float: left;
        text-shadow: #DE4831 2px 3px;
        min-width: 10px;
        min-height: 10px;
        position: relative;
    }
}

.title {
    &:nth-child(1) {
        color: #ECAF3E;
    }

    &:nth-child(2) {
        color: #91CDE5;
    }

    &:nth-child(3) {
        color: #2D3162;
    }
}